[Unit]
Description=My Go Application

[Service]
ExecStart=/home/jenkins/my-metrics-app/my-metrics-app
Restart=always

[Install]
WantedBy=multi-user.target
